@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@theme {
  --color-primary: #1A4BFF;
  --color-accent: #D4FF00;
  --color-dark: #111827;
  --font-sans: "Inter", sans-serif;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1f2937;
  background-color: #ffffff;
}
